# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Backup files
*.bak
*.db-journal

# Logs or debug output
*.log

# IDE/editor configs
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db
